<html>
<head> 
  <title>Guilds</title> 
</head> 
<body> 
  <h1>Add Guild</h1> 
  <form method = "POST" action = '/'> 
    <label>guild name
      <input type = "text" name = "name" title = "guild name">
    </label>
    <label>realm name
      <input type = "text" name = "realm" title = "realm name"> 
    </label>
    <label>region
      <input type = "text" name = "region" title = "region"> 
    </label>
    <input type = "submit" name = "Add">
  </form>

  <h1>Guilds</h1> 
  <table> 
  {% for guild in guilds %} 
  <tr>
    <p>{{guild.name, guild.realm, guild.region}}
      <form method = "POST" action = "./update" style = "display: inline">
        <input type = "hidden" value = "{{guild.id}}" name ="id">
        <input type = "text" value = "" name = "newname">
        <input type = "submit" value = "Update">
      </form>
      <form method = "POST" action = "./delete" style = "display: inline">
        <input type = "hidden" value = "{{guild.id}}" name ="id">
        <input type = "submit" value = "Delete">
      </form>
      <form action = '/' method="POST">
      <a href = '/roster?guildID={{guild.id}}'>View Roster</a>
      </form>
    </p>
  </tr>
  {% endfor %} 
  </table> 
</body> 
</html>







