<html>
<head>
  <title>Items</title> 
</head> 
<body> 
  <ol> 
  {% for player in players %}
    <p>{{player.helmet_name}}</p>
      <form method="POST" action = "./updateItem" style = display:inline"> 
        <input type = "hidden" value = "{{player.helmet_name}}" name = "itemName">
        <input type = "hidden" value = "{{player.id}}" name = "id">
        <input type = "text" value = "" name = "newname">
        <input type = "submit" value = "Update"> 
      </form>
      <form method="POST" action = "/deleteItem" style = display:inline"> 
        <input type = "hidden" value = "{{player.helmet_name}}" name = "itemName">
        <input type = "hidden" value = "{{player.id}}" name = "id">
        <input type = "submit" value = "Delete"> 
      </form>
  {% endfor %}
  <ol>
</body> 
</html>
